{% extends "student/student_base.html" %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request Sent Successfully</title>
</head>
<body>
    <h1>Your request to work under {{ professor.name }} has been sent successfully!</h1>
    <!-- You can include additional information or a success message here -->
</body>
</html>
{% endblock %}
